--
-- PostgreSQL database dump
--

\restrict P7Q4Mf1PgSL2XG9BNkS28LVgjXArXSBwod3bztbgE1CfojKUa9lWbbRtDZthvxo

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_quality_inspections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_quality_inspections (
    inspection_id integer NOT NULL,
    order_id integer NOT NULL,
    confidence_score numeric(5,2),
    result character varying(20) NOT NULL,
    inspected_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT ai_quality_inspections_confidence_score_check CHECK (((confidence_score >= (0)::numeric) AND (confidence_score <= (100)::numeric))),
    CONSTRAINT ai_quality_inspections_result_check CHECK (((result)::text = ANY ((ARRAY['PASS'::character varying, 'FAIL'::character varying, 'ANOMALY'::character varying])::text[])))
);


ALTER TABLE public.ai_quality_inspections OWNER TO postgres;

--
-- Name: ai_quality_inspections_inspection_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_quality_inspections_inspection_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_quality_inspections_inspection_id_seq OWNER TO postgres;

--
-- Name: ai_quality_inspections_inspection_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_quality_inspections_inspection_id_seq OWNED BY public.ai_quality_inspections.inspection_id;


--
-- Name: bill_of_materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bill_of_materials (
    product_id integer NOT NULL,
    component_id integer NOT NULL,
    quantity_required integer NOT NULL,
    CONSTRAINT bill_of_materials_quantity_required_check CHECK ((quantity_required > 0))
);


ALTER TABLE public.bill_of_materials OWNER TO postgres;

--
-- Name: components; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.components (
    component_id integer NOT NULL,
    name character varying(100) NOT NULL,
    category character varying(50),
    unit_of_measure character varying(20) DEFAULT 'pcs'::character varying,
    stock_level integer DEFAULT 0 NOT NULL,
    reorder_point integer DEFAULT 5 NOT NULL,
    CONSTRAINT components_category_check CHECK (((category)::text = ANY ((ARRAY['Sensor'::character varying, 'Actuator'::character varying, 'Computing'::character varying, 'Structural'::character varying, 'Electronic'::character varying])::text[]))),
    CONSTRAINT components_stock_level_check CHECK ((stock_level >= 0))
);


ALTER TABLE public.components OWNER TO postgres;

--
-- Name: components_component_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.components_component_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.components_component_id_seq OWNER TO postgres;

--
-- Name: components_component_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.components_component_id_seq OWNED BY public.components.component_id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    employee_id integer NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    job_role character varying(50) NOT NULL,
    certification_level integer DEFAULT 1,
    CONSTRAINT employees_certification_level_check CHECK (((certification_level >= 1) AND (certification_level <= 5)))
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employees_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employees_employee_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employees_employee_id_seq OWNER TO postgres;

--
-- Name: employees_employee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employees_employee_id_seq OWNED BY public.employees.employee_id;


--
-- Name: machines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.machines (
    machine_id integer NOT NULL,
    name character varying(100) NOT NULL,
    type character varying(50) NOT NULL,
    serial_number character varying(50) NOT NULL,
    status character varying(20) DEFAULT 'Idle'::character varying,
    CONSTRAINT machines_status_check CHECK (((status)::text = ANY ((ARRAY['Idle'::character varying, 'Running'::character varying, 'Maintenance'::character varying, 'Offline'::character varying])::text[])))
);


ALTER TABLE public.machines OWNER TO postgres;

--
-- Name: machines_machine_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.machines_machine_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.machines_machine_id_seq OWNER TO postgres;

--
-- Name: machines_machine_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.machines_machine_id_seq OWNED BY public.machines.machine_id;


--
-- Name: maintenance_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_logs (
    log_id integer NOT NULL,
    machine_id integer NOT NULL,
    technician_id integer NOT NULL,
    maintenance_date date NOT NULL,
    description text,
    cost numeric(12,2),
    CONSTRAINT maintenance_logs_cost_check CHECK ((cost >= (0)::numeric))
);


ALTER TABLE public.maintenance_logs OWNER TO postgres;

--
-- Name: maintenance_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_logs_log_id_seq OWNER TO postgres;

--
-- Name: maintenance_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_logs_log_id_seq OWNED BY public.maintenance_logs.log_id;


--
-- Name: production_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_orders (
    order_id integer NOT NULL,
    product_id integer NOT NULL,
    machine_id integer NOT NULL,
    employee_id integer NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'Scheduled'::character varying,
    CONSTRAINT chk_times CHECK ((end_time > start_time)),
    CONSTRAINT production_orders_status_check CHECK (((status)::text = ANY ((ARRAY['Scheduled'::character varying, 'In Progress'::character varying, 'Completed'::character varying, 'Cancelled'::character varying])::text[])))
);


ALTER TABLE public.production_orders OWNER TO postgres;

--
-- Name: production_orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_orders_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_orders_order_id_seq OWNER TO postgres;

--
-- Name: production_orders_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_orders_order_id_seq OWNED BY public.production_orders.order_id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    product_id integer NOT NULL,
    name character varying(100) NOT NULL,
    model_version character varying(20) NOT NULL,
    base_price numeric(12,2)
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_product_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_product_id_seq OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_product_id_seq OWNED BY public.products.product_id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    supplier_id integer NOT NULL,
    name character varying(100) NOT NULL,
    contact_email character varying(100),
    country character varying(50) NOT NULL
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.suppliers_supplier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.suppliers_supplier_id_seq OWNER TO postgres;

--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.suppliers_supplier_id_seq OWNED BY public.suppliers.supplier_id;


--
-- Name: supply_catalog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supply_catalog (
    supplier_id integer NOT NULL,
    component_id integer NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    lead_time_days integer NOT NULL,
    CONSTRAINT supply_catalog_lead_time_days_check CHECK ((lead_time_days > 0)),
    CONSTRAINT supply_catalog_unit_price_check CHECK ((unit_price > (0)::numeric))
);


ALTER TABLE public.supply_catalog OWNER TO postgres;

--
-- Name: ai_quality_inspections inspection_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_quality_inspections ALTER COLUMN inspection_id SET DEFAULT nextval('public.ai_quality_inspections_inspection_id_seq'::regclass);


--
-- Name: components component_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.components ALTER COLUMN component_id SET DEFAULT nextval('public.components_component_id_seq'::regclass);


--
-- Name: employees employee_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN employee_id SET DEFAULT nextval('public.employees_employee_id_seq'::regclass);


--
-- Name: machines machine_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.machines ALTER COLUMN machine_id SET DEFAULT nextval('public.machines_machine_id_seq'::regclass);


--
-- Name: maintenance_logs log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_logs ALTER COLUMN log_id SET DEFAULT nextval('public.maintenance_logs_log_id_seq'::regclass);


--
-- Name: production_orders order_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders ALTER COLUMN order_id SET DEFAULT nextval('public.production_orders_order_id_seq'::regclass);


--
-- Name: products product_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN product_id SET DEFAULT nextval('public.products_product_id_seq'::regclass);


--
-- Name: suppliers supplier_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN supplier_id SET DEFAULT nextval('public.suppliers_supplier_id_seq'::regclass);


--
-- Data for Name: ai_quality_inspections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_quality_inspections (inspection_id, order_id, confidence_score, result, inspected_at) FROM stdin;
1	1	99.45	PASS	2026-05-05 23:44:22.676927
2	2	98.10	PASS	2026-05-05 23:44:22.676927
3	3	99.90	PASS	2026-05-05 23:44:22.676927
4	4	85.00	ANOMALY	2026-05-05 23:44:22.676927
5	4	95.50	PASS	2026-05-05 23:44:22.676927
6	5	75.20	FAIL	2026-05-05 23:44:22.676927
7	6	99.10	PASS	2026-05-05 23:44:22.676927
8	7	98.50	PASS	2026-05-05 23:44:22.676927
9	8	96.00	PASS	2026-05-05 23:44:22.676927
10	9	99.99	PASS	2026-05-05 23:44:22.676927
11	10	88.00	ANOMALY	2026-05-05 23:44:22.676927
\.


--
-- Data for Name: bill_of_materials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bill_of_materials (product_id, component_id, quantity_required) FROM stdin;
1	1	1
1	3	1
1	4	1
1	5	2
1	6	1
1	11	2
2	2	6
2	3	1
2	8	2
2	9	1
2	11	3
2	14	2
3	1	2
3	3	1
3	6	2
3	10	4
3	12	1
3	13	4
4	1	1
4	2	12
4	4	1
4	5	1
4	6	2
4	15	1
5	7	2
5	8	4
5	11	10
5	14	6
6	7	1
6	10	2
6	12	1
6	13	3
\.


--
-- Data for Name: components; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees (employee_id, first_name, last_name, job_role, certification_level) FROM stdin;
1	Patrick	Bateman	Robotics Engineer	5
2	Bruce	Lee	AI Systems Operator	4
3	Ezio	Auditore	Maintenance Technician	3
4	Arthur	Morgan	Quality Inspector	4
5	Vernon	Roche	CNC Operator	3
6	Johnny	Silverhand	Logistics Manager	2
7	Joseph	Joestar	Systems Architect	5
8	Bilbo	Baggins	3D Print Specialist	4
9	Bruce	Wayne	Assembly Line Worker	2
10	Carl	Johnson	Quality Inspector	3
\.


--
-- Data for Name: machines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.machines (machine_id, name, type, serial_number, status) FROM stdin;
1	Assembler Alpha	Robotic Arm	SN-R-101	Idle
2	Assembler Beta	Robotic Arm	SN-R-102	Running
3	Assembler Gamma	Robotic Arm	SN-R-103	Idle
4	Precision CNC 1	CNC Mill	SN-C-505	Idle
5	Precision CNC 2	CNC Mill	SN-C-506	Maintenance
6	3D Carbon Printer	SLS Printer	SN-P-900	Running
7	Metal 3D Printer	DMLS Printer	SN-P-901	Idle
8	Laser Cutter X	Laser	SN-L-200	Idle
\.


--
-- Data for Name: maintenance_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_logs (log_id, machine_id, technician_id, maintenance_date, description, cost) FROM stdin;
1	1	3	2026-04-15	Regular joint lubrication and sensor calibration	450.00
2	2	3	2026-04-20	Replaced worn pneumatic tubes	120.00
3	5	3	2026-05-02	Spindle bearing failure - awaiting replacement parts	2500.00
4	6	3	2026-04-10	Laser optics cleaning and alignment	300.00
5	3	3	2026-05-01	Emergency inspection after failed AI quality check	0.00
6	8	3	2026-04-28	Filter replacement for exhaust system	150.00
\.


--
-- Data for Name: production_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (product_id, name, model_version, base_price) FROM stdin;
1	Industrial Drone X-1	v2.1	15000.00
2	Cobot Arm Pro	v4.0	25000.00
3	AMR Logistic Bot	v1.5	18000.00
4	Inspection Quadruped	v1.0	45000.00
5	Automated Welding Cell	v3.2	85000.00
6	Micro-Assembly Robot	v2.0	32000.00
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers (supplier_id, name, contact_email, country) FROM stdin;
1	OptiScan Sensors Ltd	sales@optiscan.com	Germany
2	Titan Robotics Parts	orders@titan.de	Germany
3	NeuralChip Corp	b2b@neuralchip.us	USA
4	Global Carbon Fab	info@globalcarbon.cn	China
5	RoboTech Industries	supply@robotech.jp	Japan
6	Nexus Dynamics	contract@nexus.uk	UK
7	CyberForge Metals	sales@cyberforge.pl	Poland
8	AeroAlloys Inc	distribution@aeroalloys.ca	Canada
\.


--
-- Data for Name: supply_catalog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supply_catalog (supplier_id, component_id, unit_price, lead_time_days) FROM stdin;
1	1	450.00	5
5	1	480.00	3
1	5	1200.00	7
1	10	35.00	4
2	2	300.00	3
2	9	150.00	5
2	13	85.00	3
3	3	2500.00	14
3	7	120.00	7
3	15	800.00	10
4	4	4800.00	30
4	8	600.00	20
5	2	310.00	2
5	13	80.00	2
6	6	1500.00	12
6	11	25.00	4
6	14	15.00	5
7	4	5000.00	14
7	12	45.00	7
8	8	550.00	15
8	12	42.00	10
\.


--
-- Name: ai_quality_inspections_inspection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_quality_inspections_inspection_id_seq', 11, true);


--
-- Name: components_component_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.components_component_id_seq', 15, true);


--
-- Name: employees_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_employee_id_seq', 10, true);


--
-- Name: machines_machine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.machines_machine_id_seq', 8, true);


--
-- Name: maintenance_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_logs_log_id_seq', 6, true);


--
-- Name: production_orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_orders_order_id_seq', 15, true);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_id_seq', 6, true);


--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_supplier_id_seq', 8, true);


--
-- Name: ai_quality_inspections ai_quality_inspections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_quality_inspections
    ADD CONSTRAINT ai_quality_inspections_pkey PRIMARY KEY (inspection_id);


--
-- Name: bill_of_materials bill_of_materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_of_materials
    ADD CONSTRAINT bill_of_materials_pkey PRIMARY KEY (product_id, component_id);


--
-- Name: components components_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.components
    ADD CONSTRAINT components_pkey PRIMARY KEY (component_id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (employee_id);


--
-- Name: machines machines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.machines
    ADD CONSTRAINT machines_pkey PRIMARY KEY (machine_id);


--
-- Name: machines machines_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.machines
    ADD CONSTRAINT machines_serial_number_key UNIQUE (serial_number);


--
-- Name: maintenance_logs maintenance_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_logs
    ADD CONSTRAINT maintenance_logs_pkey PRIMARY KEY (log_id);


--
-- Name: production_orders production_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT production_orders_pkey PRIMARY KEY (order_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: suppliers suppliers_contact_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_contact_email_key UNIQUE (contact_email);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (supplier_id);


--
-- Name: supply_catalog supply_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supply_catalog
    ADD CONSTRAINT supply_catalog_pkey PRIMARY KEY (supplier_id, component_id);


--
-- Name: ai_quality_inspections ai_quality_inspections_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_quality_inspections
    ADD CONSTRAINT ai_quality_inspections_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.production_orders(order_id);


--
-- Name: bill_of_materials bill_of_materials_component_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_of_materials
    ADD CONSTRAINT bill_of_materials_component_id_fkey FOREIGN KEY (component_id) REFERENCES public.components(component_id) ON DELETE CASCADE;


--
-- Name: bill_of_materials bill_of_materials_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_of_materials
    ADD CONSTRAINT bill_of_materials_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE CASCADE;


--
-- Name: maintenance_logs maintenance_logs_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_logs
    ADD CONSTRAINT maintenance_logs_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(machine_id);


--
-- Name: maintenance_logs maintenance_logs_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_logs
    ADD CONSTRAINT maintenance_logs_technician_id_fkey FOREIGN KEY (technician_id) REFERENCES public.employees(employee_id);


--
-- Name: production_orders production_orders_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT production_orders_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(employee_id);


--
-- Name: production_orders production_orders_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT production_orders_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(machine_id);


--
-- Name: production_orders production_orders_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT production_orders_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: supply_catalog supply_catalog_component_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supply_catalog
    ADD CONSTRAINT supply_catalog_component_id_fkey FOREIGN KEY (component_id) REFERENCES public.components(component_id) ON DELETE CASCADE;


--
-- Name: supply_catalog supply_catalog_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supply_catalog
    ADD CONSTRAINT supply_catalog_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(supplier_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict P7Q4Mf1PgSL2XG9BNkS28LVgjXArXSBwod3bztbgE1CfojKUa9lWbbRtDZthvxo

